.button__card {
    display: block;
    padding: 11px 58px;
}

.button__card:first-of-type {
    margin-right: 14px;
}

@media (max-width: 769px) {
    .button__card {
        padding: 11px 30px;
    }
}

@media (max-width: 565px) {
    .button__card {
        padding: 11px 0px;
        width: 45%;
    }
}