.card__text-content {
    padding: 53px 0px 56px 63px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 432px;
    height: 100%;
    background-color: #E2F0EF;
}

.card__text-content::after {
    content: '';
    width: 0px;
    height: 0;
    position: absolute;
    top: -50px;
    right: -117px;
    border: 560px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 118px solid #E2F0EF;
}

@media (max-width: 920px) {
    .card__text-content {
        width: 365px;
    }
}

@media (max-width: 769px) {
    .card__text-content {
        width: 40%;
        padding-left: 40px;
    }
}

@media (max-width: 565px) {
    .card__text-content {
        width: 100%;
        padding: 53px 20px 56px 63px;
    }
}