.card__title {
    margin: 0;
    font-size: 38px;
    line-height: 49px;
    font-weight: 700;
    color: #364844;
    text-transform: uppercase;
}

@media (max-width: 769px) {
    .card__title {
        font-size: 35px;
    }
}

@media (max-width: 565px) {
    .card__title {
        font-size: 38px;
    }
}