.button {
    background: #0DBC91;
    border-radius: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 11px 24px;
    border: 1px solid #0DBC91;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.button:hover {
    background-color: #fff;
    color: #0DBC91
}

@media (max-width: 768px) {
    .button {
        display: none;
    }
}

